$tablet-width: "min-width: 700px";
$desktop-width: "min-width: 1200px";
$mobile-and-tablet-width-only: "max-width: 1199px";

$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-big: 24px;

$dark-blue: #283645;
$pink: #d22856;
$green: #2aab6d;
$green-hvr: #1c9b5e;

$text-color-main: $dark-blue;
$text-color-link: $pink;

$mobile-page-header-bg: #1d2631;
$body-bg-second-color: #f2f2f2;
$menu-bg-color: $dark-blue;
$prices-bg-color: $dark-blue;


