.btn {
    display: block;
    padding: 14px;
    padding-bottom: 17px;
    text-align: center;
    font-weight: 700;
    font-size: $font-size-medium;
    line-height: 18px;
    text-decoration: none;
    border-radius: 60px;
}
.btn--download-btn {
    color: #ffffff;
    border: 3px solid #ffffff;
    
    &:hover {
        color: $pink;
        background-color: #ffffff;
    }
    
    &:active {
        color: rgba(210, 40, 86, 0.3);
        transform: scale(0.9);
    }
}