.features {
    position: relative;
    padding: 80px 6.25% 320px;
    background: {
        color: $body-bg-second-color;
        image: linear-gradient(to bottom right, #ffffff 50%, transparent 50%);
        size: 100% 32px;
        position: right top;
        repeat: no-repeat;
    }
    
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 277px;
        background: {
            image: url("../img/iphone-screen-mobile@1x.png");
            position: center top;
            repeat: no-repeat;
        }
    }
}
.features__item {
    margin-bottom: 32px;
    text-align: center;
    
    h3 {
        margin: 0;
        margin-bottom: 12px;
        font-size: $font-size-medium;
        color: #000000;
    }
    
    p {
        margin: 0;
    }
    
    &--science {
        display: none;
    }
    
    &:last-child {
        margin-bottom: 0;
    }
}

@media ($tablet-width) {
    
    .features {
        box-sizing: border-box;
        padding: 0;
        padding-top: 74px;
        
        background: {
            image: url(../img/iphone-screen-3-tablet@1x.png), linear-gradient(to bottom right, #ffffff 50%, transparent 50%);
            size: 268px 481px, 100% 55px;
            position: 40px 5px, right top;
            repeat: no-repeat;
        }
        
        &::before {
            display: none;
            background: none;
        }
    }
    
    .features__wrapper {
        min-height: 412px;
    }
    
    .features__item {
        margin-bottom: 4.9%;
        padding-left: 350px;
        padding-right: 5.7%;
        text-align: left;  
        
        &--science {
            display: block;
            min-height: 335px;
            box-sizing: border-box;
            padding-top: 100px;
            background-color: #fff;
            background: {
                color: #ffffff;
                image: url(../img//timer-new.svg);
                size: 240px 277px;
                position: 40px bottom;
                repeat: no-repeat;
            }
            
            h3 {
                font-size: 30px;
                line-height: 36px;
            }
            
            p {
                margin-bottom: 10px;
            }
            
            a {
                color: $text-color-link;
                
                &:active {
                    color: $dark-blue;
                    opacity: 0.3;
                    text-decoration: none;
                }
            }
        }
    }
}

@media ($desktop-width) {
    
    .features {
        padding: 0;
        padding-bottom: 67px;
        background: {
            image: linear-gradient(to bottom right, #ffffff 50%, transparent 50%);
            size: 100% 94px;
            position: right top;
        }
    }
    
    .features__wrapper {
        display: flex;
        justify-content: space-between;
        width: 940px;
        margin: 0 auto;
    }
    
    .features__item {
        padding: 355px 30px 67px;
        margin: 0;
        width: 300px;
        box-sizing: border-box;
        text-align: center;
        background: {
            position: top center;
            repeat: no-repeat;
        }
        
        h3 {
            margin-bottom: 24px;
            font-size: 30px;
            line-height: 30px;
        }
        
        p {
            font-size: $font-size-medium;
            line-height: 30px;
        }
        
        &--mood {
            background-image: url("../img/iphone-screen-1-desktop@1x.png");
        }
        
        &--world {
            background-image: url("../img/iphone-screen-2-desktop@1x.png");
        }
        
        &--friends {
            background-image: url("../img/iphone-screen-3-desktop@1x.png");
        }
        
        &--science {
            min-height: 345px;
            width: 940px;
            margin: 0 auto;
            padding: 0;
            padding-top: 93px;
            padding-left: 370px;
            padding-right: 30px;
            text-align: left;
            background: {
                color: transparent;
                image: url(../img//timer-new.svg);
                size: 300px 345px;
                position: left bottom;
            }
            
            br {
                display: none;
            }
            
            p {
                margin-bottom: 32px;
            }
            
            a {
                font-size: $font-size-medium;
                line-height: 30px;
                
                &:hover {
                    color: $dark-blue;
                }
            }
        }
    }
}

//retina

@media ($mobile-width) and (min-resolution: 144dpi), ($mobile-width) and (min-resolution: 1.5dppx) {
    
    .features::before {
        background: {
            image: url("../img/iphone-screen-mobile@2x.png");
            size: 157px 320px;
        }
    }
}

@media ($tablet-width) and (min-resolution: 144dpi), ($tablet-width) and (min-resolution: 1.5dppx) {
    
    .features {
        background: {
            image: url(../img/iphone-screen-3-tablet@2x.png), linear-gradient(to bottom right, #ffffff 50%, transparent 50%);
        }
    }
}

@media ($desktop-width) and (min-resolution: 144dpi), ($desktop-width) and (min-resolution: 1.5dppx) {
    
    .features__item {
        background-size: 292px 302px;
        
        &--mood {
            background-image: url("../img/iphone-screen-1-desktop@2x.png");
        }
        
        &--world {
            background-image: url("../img/iphone-screen-2-desktop@2x.png");
        }
        
        &--friends {
            background-image: url("../img/iphone-screen-3-desktop@2x.png");
        }
        
        &--science {
            background-size: 300px 345px;
        }
    }
}