.feedback {
    padding-top: 42px;
    text-align: center;
}
.feedback__main-title {
    margin: 0;
    margin-bottom: 33px;
    font-size: $font-size-big;
    font-weight: 300;
    line-height: 28px;
}
.feedback__phone,
.feedback__mail {
    margin-bottom: 25px;
}
.feedback__address {
    margin-bottom: 38px;
}
.feedback__title {
    display: block;
    margin-bottom: 5px;
    font-size: $font-size-medium;
}
.feedback__link {
    display: block;
    font-size: $font-size-big;
    font-weight: 300;
    color: $text-color-link;
    text-decoration: none;
    
    &:active {
        color: $dark-blue;
        opacity: 0.3;
    }
}
.feedback__text {
    margin: 0;
    padding: 0 6.25%;
    font-size: $font-size-big;
    font-weight: 300;
    line-height: 30px;
    color: $text-color-link;
}
.feedback__map {
    position: relative;
    height: 200px;
    
    iframe {
        width: 100%;
        border: 0px;
    }
    
    &::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 32px;
        top: 0;
        left: 0;
        background-image: linear-gradient(to bottom left, #ffffff 50%, transparent 50%);
    }
    
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 32px;
        background-image: linear-gradient(to bottom right, #ffffff 50%, transparent 50%);
    }
}

@media ($tablet-width) {
    
    .feedback {
        display: flex;
        flex-wrap: wrap;
        padding-top: 47px;
    }
    
    .feedback__main-title {
        width: 100%;
        margin-bottom: 45px;
        font-size: 40px;
        line-height: 46px;
    }
    
    .feedback__phone,
    .feedback__mail {
        width: 50%;
        margin-bottom: 50px;
        box-sizing: border-box;
    }
    
    .feedback__phone {
        padding-left: 4.4%;
    }
    
    .feedback__mail {
        padding-right: 4.4%;
    }
    
    .feedback__address {
        width: 100%;
        margin-bottom: 25px;
    }
    
    .feedback__title {
        margin-bottom: 8px;
        
        &--address {
            margin-bottom: 4px;
        }
    }
    
    .feedback__text {
        padding: 0 32%;
    }
    
    .feedback__map {
        width: 100%;
        height: 377px;
        
        &::before,
        &::after {
            height: 70px;
        }
        
        iframe {
            height: 377px;
        }
    }
}

@media ($desktop-width) {
    
    .feedback {
        justify-content: center;
        padding-top: 66px;
    }
    
    .feedback__main-title {
        margin-bottom: 58px;
        font-size: 50px;
        line-height: 56px;
    }
    
    .feedback__phone,
    .feedback__mail,
    .feedback__address {
        width: 320px;
        margin-bottom: 20px;
    }
    
    .feedback__phone {
        order: 1;
        padding-left: 0;
    }
    
    .feedback__address {
        order: 2;
    }
    
    .feedback__mail {
        order: 3;
        padding-right: 0;
    }
    
    .feedback__title {
        margin-bottom: 27px;
    }

    .feedback__link {
        position: relative;
        
        &::before {
            content: "";
            position: absolute;
            bottom: -3px;
            width: 205px;
            height: 1px;
        }
        
        &--mail {
            
            &::before {
                width: 240.5px;
            }
        }
        
        &:hover {
            color: $dark-blue;
            
            &::before {
                background-color: $dark-blue;
            }
        }
        
        &:active {
            
            &::before {
                background-color: transparent;
            }
        }
    }
    
    .feedback__text {
        padding: 0 20px;
    }
    
    .feedback__map {
        order: 4;
        height: 502px;
        
        &::before,
        &::after {
            height: 102px;
        }
        
        iframe {
            height: 502px;
        }
    }
}