.feedback {
    position: relative;
    padding-top: 42px;
    text-align: center;
}
.feedback__main-title {
    margin: 0;
    margin-bottom: 33px;
    font-size: $font-size-big;
    font-weight: 300;
    line-height: 28px;
}
.feedback__title {
    display: block;
    margin-bottom: 5px;
    font-size: $font-size-medium;
}
.feedback__link {
    position: relative;
    display: block;
    margin-bottom: 25px;
    font-size: $font-size-big;
    font-weight: 300;
    color: $text-color-link;
    text-decoration: none;
//    background: rgba(255, 255, 0, 0.2);
    
    &:active {
        color: $dark-blue;
        
        &::before {
            content: "";
            position: absolute;
            bottom: -2px;
            height: 1px;
            width: 240px;
            background-color: $dark-blue;
        }
        
        &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            height: 1px;
            width: 60px;
            background-color: #fff;
        }
    }
}
.feedback__text {
    margin: 0;
    margin-bottom: 38px;
    padding: 0 20px;
    font-size: $font-size-big;
    font-weight: 300;
    line-height: 30px;
    color: $text-color-link;
}
.feedback__map {
    position: relative;
    height: 200px;
//    display: flex;
    
    iframe {
//        flex-grow: 1;
    }
    
    &::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 32px;
        top: 0;
        left: 0;
//        z-index: 10;
//        background: {
////            color: red;
//            image: 
//                linear-gradient(to bottom left, #ffffff 50%, transparent 50%),
//                linear-gradient(to bottom right, #ffffff 50%, transparent 50%);
//            size: 50% 32px, 50% 32px;;
//            position: 0 0, 100% 0;
//            repeat: no-repeat;
//        }
        background-image: linear-gradient(to bottom left, #ffffff 50%, transparent 50%);
    }
    
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 32px;
        background-image: linear-gradient(to bottom right, #ffffff 50%, transparent 50%);
    }

}