.feedback {
    position: relative;
//    background-color: rgba(255, 0, 0, 0.1);
    padding-top: 42px;
    padding-bottom: 90px;
    overflow: hidden;//временно
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50px;
        width: 320px;
        height: 355px;
//        background-color: rgba(0, 255, 0, 0.2);
    }
}
.feedback__item {
//    background-color: rgba(255, 255, 0, 0.1);
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.feedback__comment-author {
    display: block;
    font-size: $font-size-medium;
    line-height: 30px;
//    background-color: rgba(255, 0, 0, 0.1);
    margin-bottom: 15px;
}
.feedback__comment-text {
//    background-color: rgba(0, 255, 255, 0.1);
    margin: 0;
    line-height: 30px;
    font-size: $font-size-small;
}