.main-index {
    min-height: 2437px;//временно
    display: flex;
    flex-direction: column;
}
.main-index__header {
    position: relative;
    padding: 0 20px;//заменить миксином
//    background-color: rgba(255, 0, 0, 0.1);//временно
    
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: -320px;
        width: 320px;
        height: 217px;
        background-color: rgba(0, 255, 0, 0.1);
    }
    
    h2 {
        margin: 0;
        font-weight: 300;
        font-size: 24px;
        text-align: center;
        line-height: 28px;
        
        &:first-child {
            margin-top: 40px;
            margin-bottom: 34px;
        }
        
        &:last-child {
            margin-bottom: 31px;
        }
    }
    
}