.main-index {
//    min-height: 3437px;//временно upd: плюсанул height на 1k
}
.main-index__header {
    position: relative;
    padding: 0 20px;//заменить миксином
    
    h2 {
        margin: 0;
        font-weight: 300;
        font-size: 24px;
        text-align: center;
        line-height: 28px;
       
        &:first-child {
            margin-top: 40px;
            margin-bottom: 34px;
        }
        
        &:last-child {
            margin-bottom: 31px;
        }
    }
    
}