.page-header {
    display: flex;
    justify-content: center;
//    width: 320px;//временно
    min-height: 733px;
    padding-bottom: 30px;
    box-sizing: border-box;
    background: {
        color: $mobile-page-header-bg;
        image: 
            url(../img/iphone-hand-mobile@1x.png), 
            url(../img/bg-back-mobile@1x.jpg);
        position: left 176px, center 0;
        repeat: no-repeat;
    }
    
}
.page-header__logo {
    position: fixed;
    top: 20px;
    left: 20px;
//    left: 50%;//временно
//    margin-left: -140px;//временно
    z-index: 20;
    
    svg {
        fill: #fff;
        width: 75px;
        height: 23px;
    }
}
.page-header__download-section {
    align-self: flex-end;
    padding: 0 20px;//заменить миксином
}
.page-header__download-links {
    display: flex;
    justify-content: space-between;
    margin: 32px 37px 25px;
    padding: 0;
    list-style: none;
}
.page-header__download-link {
    display: block;
    height: 56px;
    font-size: 0;
    background: {
        size: contain;
        repeat: no-repeat;
        position: bottom;
    }
    
    &--apple {
        width: 47px;
        background-image: url(../img/logo-apple.svg);
    }
    
    &--android {
        width: 43px;
        background-image:  url(../img/logo-android.svg);
    }
    
    &--windows {
        width: 44px;
        background-image: url(../img/logo-microsoft.svg);
        background-position: center 12px;
    }
}
.page-header__download-text {
    margin: 0;
    padding: 0;
    color: #ffffff;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
}