.page-header {
    display: flex;
    justify-content: center;
//    width: 700px;//временно
    min-height: 733px;
    padding-bottom: 30px;
    box-sizing: border-box;
    background: {
        color: $mobile-page-header-bg;
        image: 
            url(../img/iphone-hand-mobile@1x.png), 
            url(../img/bg-back-mobile@1x.jpg);
        position: left 176px, center 0;
        repeat: no-repeat;
    }
    
}
.page-header__logo {
    position: fixed;
    top: 20px;
//    left: 20px;
    margin-left: -292px;//временно
    z-index: 20;
    width: 75px;
    height: 23px;
}
.page-header__download-section {
    align-self: flex-end;
//    padding: 0 20px;//заменить миксином
    padding: 0 6.25%;
}
.page-header__download-title {
    display: none;
}
.page-header__download-btn {
    margin-bottom: 32px;
}
.page-header__download-links {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 25px;
    padding: 0 37px;
    list-style: none;
}
.page-header__download-link {
    display: block;
    height: 56px;
    font-size: 0;
    background: {
        size: contain;
        repeat: no-repeat;
        position: bottom;
    }
    
    &--apple {
        width: 47px;
        background-image: url(../img/logo-apple.svg);
    }
    
    &--android {
        width: 43px;
        background-image:  url(../img/logo-android.svg);
        background-position: center 6px;
    }
    
    &--windows {
        width: 44px;
        background-image: url(../img/logo-microsoft.svg);
        background-position: center 12px;
    }
}
.page-header__download-text {
    margin: 0;
    padding: 0;
    color: #ffffff;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
}

@media ($tablet-width) {
    
    .page-header {
        justify-content: flex-start;
        min-height: 730px;
        padding-bottom: 110px;
        background: {
            color: $mobile-page-header-bg;
            image: 
                url(../img/iphone-hand-tablet@1x.png), 
                url(../img/bg-back-tablet@1x.jpg);
            position: center bottom, center 0;
            repeat: no-repeat;
        }
    }
    
    .page-header__logo {
        top: 27px;
        left: 40px;
        margin-left: 325px;//временно
        width: 150px;
        height: 40px;
    }
    
    .page-header__download-section {
//        width: 300px;
        width: 42.8%;
        padding: 0;
//        margin-left: 40px;
        margin-left: 5.7%;
    }
    
    .page-header__download-title {
        display: block;
        margin: 0;
        margin-bottom: 34px;
        padding: 0 50px;
        font-size: 40px;
        font-weight: 300;
        line-height: 47px;
        color: #ffffff;
        text-align: center;
    }
    
    .page-header__download-btn {
        margin: 0 auto;
        margin-bottom: 46px;
//        max-width: 300px;
//        box-sizing: border-box;
    }
    
    .page-header__download-links {
        padding-left: 46px;
        padding-right: 49px;
        margin-bottom: 36px;
    }
    
    .page-header__download-text {
        font-size: $font-size-medium;
    }
}