.prices {
//    position: relative;
    padding-top: 90px;
    padding-bottom: 99px;
    background: {
        color: $body-bg-second-color;
        image: linear-gradient(to bottom right, #ffffff 50%, transparent 50%);
        size: 100% 22px;
        repeat: no-repeat;
    }
    overflow: hidden;
}
.prices__table {
//    background-color: rgba(0, 255, 0, 0.1);
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
    
    td {
//        width: 33.3%;
        line-height: 30px;
//        text-align: center;
    }
    
    td:first-child {
        display: none;
    }
    
    tr:first-child {
        background-color: $prices-header-bg-color;//фикс для хита, когда ставишь relative для prices-table-header появляется зазор у бордера, причем только в девтулзах 
    }
    
}
.prices__table-header {
    height: 92px;
    font-size: $font-size-big;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;//перевесить на td?
    background-color: $prices-header-bg-color;
    border: 2px solid $prices-header-bg-color;
    border-left-color: $prices-border-color;
    border-right-color: $prices-border-color;
    
    b {
        display: block;
        font-size: $font-size-medium;
        font-weight: 700;
    }
    
    &--hit {
        position: relative;

        &::before {
            content: "Хит";
            position: absolute;
            top: 10px;
            left: -28px;
            width: 106px;
            height: 30px;
            font-size: $font-size-small;
            line-height: 30px;
            font-weight: 700;
            background: {
                image: 
                    linear-gradient(45deg, $pink 71.8%, transparent 71.8%),
                    linear-gradient(135deg, transparent 44.5%, $pink 44.5%);
                size: 73px 30px, 36px 30px;
                repeat: no-repeat;
                position: top right, top left;
            }
            transform: rotate(-45deg);
        }

    }
}
.prices__table-cell {
    height: 57px;
    border: 2px solid $prices-border-color;
    
    img[alt="Есть"] {
        width: 31px;
        height: 21px;
        
    }
    
    img[alt="Нет"] {
        width: 27px;
        height: 26px;
        
    }
}
.prices__cell-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 17px;
//    background-color: rgba(255, 255, 0, 0.2);
    
    img {
        flex-shrink: 0;
    }
    
    img[alt="Нет"] {
        margin-right: 2px;
    }
    
    &--filter-feature {
        position: relative;

        &::before {
            content: "Розовый фильтр";
            text-transform: uppercase;
        }

    }

    &--smileys-feature {
        position: relative;

        &::before {
            content: "Смайлики";
            text-transform: uppercase;
        }

    }
    
    &--comments-feature {
        position: relative;

        &::before {
            content: "Комментарии";
            text-transform: uppercase;
        }

    }
}
