.reviews {
    padding-top: 42px;
    padding-bottom: 90px;
    box-sizing: border-box;
    overflow: hidden;//временно
}
.reviews__item {
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.reviews__comment-author {
    display: block;
    font-size: $font-size-medium;
    line-height: 30px;
    margin-bottom: 15px;
}
.reviews__comment-author-information {
    display: none;
}
.reviews__comment-text {
    margin: 0;
    line-height: 30px;
}

@media ($tablet-width) {
    
    .reviews {
        padding-top: 98px;
        padding-bottom: 65px;
    }
    
    .reviews__item {
        display: flex;
        flex-direction: column;
        padding: 0 40px;
//        padding: 0 1.9%;
    }
    
    .reviews__comment-author {
        order: 1;
        margin-bottom: 2px;
        font-size: 20px;
    }
    
    .reviews__comment-author-information {
        display: block;
        order: 2;
        line-height: 30px;
    }
    
    .reviews__comment-text {
        margin-bottom: 36px;
        font-size: $font-size-medium;
    }
}