.slider {
    position: relative; 
    
    input[type="radio"] {
        display: none;
    }
}
.slider__btn {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 50%;
    height: 100%;
    
    &--left {
        left: 0;
        background-color: rgba(0, 255, 0, 0.2);
    }
    
    &--right {
        right: 0;
        background-color: rgba(255, 255, 0, 0.2);
    }
    
    &--disable {
        opacity: 0.1;
    }
}
.slider__wrapper {
    position: relative;
//    display: flex;
    width: 300%;
    transition: transform 0.4s;
//    background-color: rgba(255, 0, 0, 0.2);
    
    &--show-slide-1 {
        transform: translateX(0);
    }
    
    &--show-slide-2 {
        transform: translateX(-33.3%);
    }
    
    &--show-slide-3 {
        transform: translateX(-66.6%);
    }
    
    &--reviews {
//        min-height: 225px;//хз-хз
    }
    
    &--prices {
        width: 262.5%;
        
        &--show-slide-2 {
            transform: translateX(-31%);
        }
        
        &--show-slide-3 {
            transform: translateX(-62%);
        }
    }
}
.slider__slide {
    position: absolute;
    top: 0;
    width: 33.3%;
    
    &--slide-2 {
        margin-left: 33.3%;
    }
    
    &--slide-3 {
        margin-left: 66.6%;
    }
    
    &--current {
        position: static;
    }
}
.slider__controls {
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-50%);
    min-width: 56px;
//    background-color: rgba(0, 255, 0, 0.2);
    
    &--reviews {
        bottom: -44px;
    }
    
    &--prices {
        bottom: -49px;
    }
}
.slider__controller {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #bec2c7;
    transition: transform 0.2s;
    cursor: pointer;

    &:hover {
        transform: scale(2.4);//потом убрать
    }

    &:active {
//        transform: scale(2.4);
    }
    
    &--current {
        background-color: #ffffff;
        box-shadow: 0 0 0 3px $dark-blue;
    }
}

#reviews-slide-1:checked ~ .slider__wrapper,
#prices-slide-1:checked ~ .slider__wrapper {
    transform: translateX(0);
}
#reviews-slide-1:checked ~ .slider__wrapper .slider__slide--slide-1 {
    position: static;
}
#reviews-slide-2:checked ~ .slider__wrapper {
    transform: translateX(-33.3%);  
}
#prices-slide-2:checked ~ .slider__wrapper--prices {
    transform: translateX(-31%);
}
#reviews-slide-2:checked ~ .slider__wrapper .slider__slide--slide-2 {
    position: static;
}
#reviews-slide-3:checked ~ .slider__wrapper {
    transform: translateX(-66.6%);  
}
#prices-slide-3:checked ~ .slider__wrapper--prices {
    transform: translateX(-62%);
}
#reviews-slide-3:checked ~ .slider__wrapper .slider__slide--slide-3 {
    position: static;
}
    
#reviews-slide-1:checked ~ .slider__controls label[for="reviews-slide-1"],
#reviews-slide-2:checked ~ .slider__controls label[for="reviews-slide-2"],
#reviews-slide-3:checked ~ .slider__controls label[for="reviews-slide-3"],
#prices-slide-1:checked ~ .slider__controls label[for="prices-slide-1"],
#prices-slide-2:checked ~ .slider__controls label[for="prices-slide-2"],
#prices-slide-3:checked ~ .slider__controls label[for="prices-slide-3"] {
    background-color: #ffffff;
    box-shadow: 0 0 0 3px $dark-blue;
}
    



